/*  Fonts  */
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*  General CSS  */
body{
    background: #fff;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*  Header  */

header{
    width: 100%;
    height: 100px;
    background: rgba(28, 54, 85, 0.95);
}

header .logo{
    margin-top: 5px;
    float: left;
}

header a.hamburger{
    text-decoration: none;
    display: none;
    float: right;
    margin-top: 41px;
    width: 24px;
    height: 19px;
    background: url('../img/hamburger_icon.png') no-repeat;
}

header a.hamburger.opned{
    width: 19px;
    background: url('../img/close_menu_icon.png') no-repeat;
}


header nav{
    float: right;
    opacity: 1;
}


header nav ul{
    margin-top: 40px;
    list-style: none;
    overflow: hidden;
    float: left;
}

header nav ul li{
    float: left;
    margin-left: 50px;
}

header nav ul li a,
header nav .login_btn{
    text-decoration: none;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;

}

header nav .login_btn{
    float: right;
    margin: 30px 0 0 50px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #ffffff;
    background: transparent;

    transition: background .1s linear;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
}

header nav .login_btn:hover{
    background: #ffffff;
    color: #1c3655;
}



/*  Menu + Image de fond principal  */

.hero{
    width: 100%;
    height: 900px;
    position: relative;
    background: url('../img/hero1.jpg') no-repeat bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero .caption{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
    z-index: 10;
}

.hero .caption h2{
    color: #fff;
    font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
}

.hero .caption h3{
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}

/* Admin */
#admin{
  background-color:red;
}



/*  Barre de recherche  */
.search{
    width: 100%;
    height: 100px;
    background: rgba(28, 54, 85, 0.9);
    position: relative;
    display: block;
}

.search #search{
    display: inline-block;
    width: 70%;
    height: 100px;
    float: left;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;

}

.search #search::-webkit-input-placeholder{
   color: #95badf;
}

.search #search:-moz-placeholder{ 
   color: #95badf;  
}

.search #search::-moz-placeholder{ 
   color: #95badf;  
}

.search #search:-ms-input-placeholder{  
   color: #95badf;  
} 

.search #submit_search{
    display: none;
}


/*  Affichage des fruits et légumes */
.listings{
    padding: 100px 0;
}

/* Case d'un prduit tout en entier */
.listings li{
    display: inline-block;
}

/* Lorsqu'on survole le truc */
.listings li:hover{
    display: inline-block;
    
}

.listings ul.properties_list{
    list-style: none;
    overflow: hidden;
}

/* cadre autour de l'image et de la légend */
.listings ul.properties_list li{
   display: inline-block;
    width: 200px;
    height: auto;
    position: relative;
    float: left;
    margin: 0.74650%;
}

/* Image */

.listings ul.properties_list li img.property_img{
    width: 200px;
    height: 200px;
    vertical-align: top;
}

/* Etiquette en haut à gauche de l'image */

.listings ul.properties_list li .price{
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 5px;
    background: rgba(28, 54, 85, 0.8);
    color: white;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

/* Créer une marge tous les 6n élements, s'il y a 7 élements sur la ligne alors écrire : 7n + 0 */
.listings ul.properties_list li:nth-child(6n+0){
    margin-right: 0;
}

/* Légende en bas de la photo */
.listings ul li .property_details{
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;
   /* height:100px; */

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings ul li .property_details:hover{
   background-color: rgba(250,250,210,1);
}

.listings ul li:hover .property_details{
    border-bottom: 1px solid #95badf;
    border-left: 1px solid #95badf;
    border-right: 1px solid #95badf;
}

/* CSS du nom du fruit */
.listings ul li .property_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
    text-align: left;
}

.listings ul li .property_details .bag_icon{
    background-color: rgba(28, 54, 85, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 35px;
    width: 35px;
    padding: 2px;
    padding-top: 5px;
    position: absolute;
    bottom: 5px;
    right:4px;
    border-radius: 100%;
}


/* Information complémentaire caché !*/
.listings ul li .something{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
    text-align: left;
    display: none;
}

.listings ul li .property_details h1 a{
    text-decoration: none;
    color: #666464;
}

.listings ul li .property_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
}

.listings ul li .property_details #details{
    cursor: pointer;
}
/* Prix d'un fruit */

.property_price{
    position: absolute;
    right:0px;
    float:right;
    background-color: rgba(28, 54, 85, 0.8);
    padding: 0px 4px;
    color:white;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
}

.listings ul li .property_details .property_size{
    color: #676767;
}





/*  Footer  */
footer{
    padding-top: 100px;
    background: rgba(28, 54, 85, 0.95);
    }

footer .footer > ul{
    overflow: hidden;
}

footer .footer > ul > li{
    display: block;
    float: left;
    list-style: none;
    margin-right: 60px;
}

footer .footer > ul > li:last-child{
    margin-right: 0;
}


footer .footer > ul > li.links{
    width: 160px;
}

footer ul li.links > ul > li{
    display: block;
    width: 100%;
    list-style: none;
    margin-bottom: 27px;
}

footer ul li.links > ul > li:last-child{
    margin-bottom: 0;
}

footer .footer > ul > li.links li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    text-align: left;
}

footer .footer > ul > li.about{
    width: 280px;
    text-align : justify;
}

footer ul li.about p{
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 34px;
    margin-top: -9px;
}

footer ul li.about > ul > li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

footer ul li.about > ul > li:last-child{
    margin-right: 0;
}


footer .copyrights{
    display: block;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    border-top: 1px solid #82abd4;
}

footer .copyrights a.ph_link{
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/*********************************************/
/*  RESPONSIVE */

/* Pour les écrans d'une largeur de moins de 1500px */

@media (max-width:1500px){
    .hero{
        height: 800px;
    }
}

/* Pour les écrans d'une largeur de moins de 1150px */

@media (max-width: 1150px){
    .wrapper{
        padding: 0 40px;
        max-width: 1020px;
    }

    footer .footer > ul > li{
        margin-right: 5.454545454545455%;
    }

    footer .footer > ul > li.links{
        width: 17.90909090909091%;
    }

    footer .footer > ul > li.about{
        width: 29.72727272727273%;
    }
}

/* Pour les écrans d'une largeur de moins de 800px */

@media (max-width:800px){
    .hero{
        height: 600px;
    }

    .hero .caption{
        width: 92.72727272727273%;
        padding: 0 3.636363636363636%; 
    }

    .hero .caption h3{
        margin: 0;
        left: 0;
    }

    header a.hamburger{
        display: block;
    }

    header nav{
        position: absolute;
        display: none;
        width: 92.72727272727273%;
        top: 95px;
        left: 3.636363636363636%;
        float: none;
        z-index: 20;
        overflow: hidden;
        background: #fff;
        border-top: 5px solid #bfd9f2;
    }

    header nav.active{
        display: block;
    }

    header nav .login_btn{
        float: none;
        display: inline-block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        background: #f2f3f3;
    }

    header nav ul{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    header nav ul li{
        display: block;
        width: 100%;
        float: none;
        margin-left: 0;
    }

    header nav ul li a{
        display: block;
        padding: 25px 0;
        border-bottom: 1px solid #f2f3f3;
        color: black;

        transition: background .2s linear;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -o-transition: background .2s linear;
    }

    header nav ul li a:active{
        background: #f2f3f3;
    }

    header nav ul li a,
    header nav .login_btn{
        color: #1c3655;
    }

    header nav .login_btn:hover{
        background: #eaebeb;
    }

    header nav ul li:last-child{
        border: 0;
    }

    .listings ul.properties_list li{
        width: 46.36363636363636%;
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(3n+0){
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(2n+0){
        margin-right: 0;
    }

    footer .footer > ul > li{
        width: 29.6969696969697%!important;
        margin-right: 5.454545454545455%;
        margin-bottom: 100px;
    }

    footer .footer > ul > li:nth-child(3){
        margin-right: 0;
    }

    footer .footer > ul > li.links li a{
        text-align: center;
    }

    footer .footer > ul > li.about{
        text-align: center;
        float: none;
        display: inline;
        margin-right: 100%;
        overflow: hidden;
        border-top: 1px solid #82abd4;
    }
}

/* Pour les écrans d'une largeur de moins de 500px */

@media (max-width:500px){
    .hero .caption h2{
        font-size: 85px;
    }

    .hero .caption h3{
        font-size: 16px;
    }

    .search #search{
        width: 83%;
    }

    .listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
    }

    .listings ul.properties_list li:last-child{
        margin-bottom: 0!important;
    }


    .listings ul.properties_list li:nth-child(3n+0),
    .listings ul.properties_list li:nth-child(2n+0){
        margin:0;
    }



    footer .footer > ul > li.links,
    footer .footer > ul > li.about{
        float: none;
        width: 100%!important;
        margin-right: 0;
        margin-bottom: 60px;
        padding-bottom: 60px;
    }

    footer .footer > ul > li:last-child{
        padding-bottom: 0;
    }

    footer .footer > ul > li.links{
        border-bottom: 1px solid #82abd4;
    }
}

/* Formulaire */


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
} 

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(28, 54, 85, 0.95);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #8DC63F;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

/* déplacement des labels après remplissage des champs */

label.active {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #8DC63F;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/* Forum */

/* Accueil du forum */
.accueil{
  font-size: 2em;
  color:black;
  text-align: center;
  margin:5px;
}
.titreForum{
  margin:20px auto;
}


/* Mise en forme des topics */
.topic {
  background: rgba(28, 54, 85, 0.95);
  padding: 40px;
  max-width: 99%;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
}

.photoProfil{


}

/* Forum dans la BDD - affichage */
.forum{
background: rgba(28, 54, 85, 0.90);
  padding: 30px;
  max-width: 80%;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
  height:auto;
}
.forum .titre{
  color:gray;
  font-size: 1.4em;
}

.forum .description{
  color:white;
  font-size: 1em;
}

/* Message posté dans une BDD */
.message{
background: rgba(28, 54, 85, 0.90);
  padding: 30px;
  max-width: 68%;
  margin: 1%;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
  height:120px;
}

.tout{
  display: inline-block;
  vertical-align: top;
  }

.reponse{
 margin:auto;
}


.auteur{
  background: rgba(28, 54, 85, 0.85);
  padding: 30px;
  max-width: 28%;
  margin: 1%;
  color:white;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
  height:120px;
  width: 120px;  
}



/* Profil d'un utilisateur */

.profil {
  background: rgba(28, 54, 85, 0.95);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
}

.infoProfil{
  list-style: none;
  font-size: 22px;
  line-height: 30px;
}

#bienvenue{
  background: rgba(28, 54, 85, 0.95);
  padding: 40px;
  max-width: 99%;
  margin: 5px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
}

#photoProfil{
  border:1px solid white;
  height:200px;
  width:200px;
  margin-bottom: 20px;
  text-align: center;
}

.button-block2 {
  display: block;
  width: 30%;
}


/* Format de l'input type="file" */

.input-file-container {
  position: absolute;
  width: 100%;
  margin-bottom: 40px;
} 
.js .input-file-trigger {
  display: block;
  /*padding: 14px 45px;*/
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  width: 100%;
  /*height: 100%;*/
}
.js .input-file {
  position: absolute;
  top: 40; left: 40;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
  margin:40px;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Importer une photo ";
  font-style: normal;
  font-weight: normal;
}

/* cgu */
#cgu{
  margin:20px;
  text-align: justify;
}
#cgu h1{
  color:black;
}
#cgu h3{
  color:black;

}

/* Deconnexion */

header nav .login_btn2{
    text-decoration: none;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 10px 10px 11px 10px;


}

header nav .login_btn2{
    float: right;
    border:none;
    }

header nav .login_btn2:hover{
    background: #ffffff;
    color: #1c3655;
}

/* Compte non activé - message d'alerte */

#nonactif{
  color:white;
  background-color: red;
  font-size: 1.2em;
  font-weight: 900;
  height: 30px;
  margin:15px;
  padding:2px;
  text-align: center;
}

/* Mise en forme du back office de l'administrateur du site */

#backoffice h1{
  margin:20px;
}
#backoffice h3{
  text-align: center;
}
#listuser{
  text-align: center
}

/* Legend des boutons radio */

.radio_legend{
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    margin:10px;
    /*padding:10px;*/
}

/* Commande */

/* Légende en bas de la photo */
.listings ul li .property_details2{
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;
    height:100px;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}


.listings ul li:hover .property_details2{
    border-bottom: 1px solid #95badf;
    border-left: 1px solid #95badf;
    border-right: 1px solid #95badf;
}

/* CSS du nom du fruit */
.listings ul li .property_details2 h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
    text-align: left;
}

.listings ul li .property_details2 .bag_icon{
    background-color: rgba(28, 54, 85, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 35px;
    width: 35px;
    padding: 2px;
    padding-top: 5px;
    position: absolute;
    bottom: 5px;
    right:4px;
    border-radius: 100%;
}

.listings ul li .property_details2 form input{
  font-size: 11px;
  display: block;
  width: 40%;
  height:24px;
  padding: 5px 10px;
  margin-bottom: 2px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  font-weight: 1100;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  position: relative;


  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}
.listings ul li .property_details2 form .poids_input{
    float:right;
    margin-bottom: 5px;
}

.listings ul li .property_details2 form .quantity_input{
    float:right;
}

.listings ul li .property_details2 input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.listings ul li .property_details2 button{
   background-color: rgba(28, 54, 85, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0;
    padding: 10px;
    line-height: 100%; /* Si ça fonctionne pas mets 0 */
    border: 0;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;/* Définis le même font qu'un lien traditionnel */
    color: white ;/* La même couleur... */
   font-size: 0.8em;
   cursor: pointer;

}


.listings ul li .property_details2 .commander{
    position: absolute;
    bottom:0px;
    right:0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.listings ul li .property_details2 .retour{
    position: absolute;
    bottom: 0px;
    left:0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); 
}

/* label des inputs de la présentation produit */

.listings ul li .property_details2 form label {
  position: absolute;
  left: 13px;
  color: #666464;
  font-size: 14px;
  font-weight: ;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  pointer-events: none;
}
.listings ul li .property_details2 form label .req {
  margin: 2px;
  color: #1ab188;
}


 .listings ul li .property_details2 form label.active {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  left: 2px;
  font-size: 14px;
}
.listings ul li .property_details2 form label.active .req {
  opacity: 0;
}

.listings ul li .property_details2 form label.highlight {
  color: #ffffff;
}


/* Style de la recherche avancée, menu déroulant */

select {
    cursor: pointer;
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: rgba(28, 54, 85, 1);
  background-repeat:no-repeat;
  background-position: right 10px top 36px;
  background-size: 24px 24px;
  color:white;
  padding:12px;
  padding-right: 35px;
  width:15%;
  height:100px;
  font-family:"lato-regular", Helvetica, arial,tahoma;
  color:#95badf;
  text-align:center;
  border-radius: 0;
  -webkit-appearance: none;
  outline:0;
  -webkit-transition:0.3s ease all;
       -moz-transition:0.3s ease all;
        -ms-transition:0.3s ease all;
         -o-transition:0.3s ease all;
            transition:0.3s ease all;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
    float: right;
    position: absolute;
    right: 100px;
    border:0;
}

#blue {
  background-color:rgba(28, 54, 85, 0.1);;
}

#blue:hover {
  background-color:rgba(28, 54, 85, 0.1);;
}


select:focus, select:active {
  border:0;
  outline:0;
}

button.go_search{
    display: inline-block;
    outline: 0;
    -webkit-appearance: none;
    height:100px;
    width:100px;
    border:0;
    background-color: rgba(28, 54, 85, 0.8);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
    float: right;
    color:#95badf;
    cursor: pointer;
    position: absolute;
    right:0px;
    font-family:"lato-bold", Helvetica, arial,tahoma;
}
button.go_search:hover{
    background-color: #179b77;
}

/* Panier */

#panier{
    position: relative;
}
#panier h1{
    margin-top: 15px;
}

.panier {
  position: relative;
  background: rgba(28, 54, 85, 0.95);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  background:  background: rgba(28, 54, 85, 0.9);

}

.panier ul{
    list-style: none;
    margin:10px;

}

.panier ul li {
    margin:20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
    height:160px;
}

.panier ul li div.information_produit{
    margin:10px;
    height:80px;
    width: 70%;
    background-color: white;
    position: relative;
}

.panier ul li .block{
    margin:10px;
    display: inline-block;
    position: relative;
}

.panier ul li img.property_img{
    width: 80px;
    height: 80px;
    vertical-align: top;
}

.panier ul li span.quantite_produit{
    font-family:"lato-regular", Helvetica, arial,tahoma;
    font-size: 20px;
}

.panier ul li span.nom_vendeur{
    font-family:"lato-regular", Helvetica, arial,tahoma;
    font-size: 20px;
}

.panier ul li span.nom_produit{
    font-family:"lato-regular", Helvetica, arial,tahoma;
    font-size: 20px;
}

.panier ul li div.prix_produit{
    font-family:"lato-regular", Helvetica, arial,tahoma;
    font-size: 20px;
    height:30px;
    width:60px;
    position: absolute;
    top : 0px;
    right:0px;
    background-color: #8DC63F;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 6px;
    border: 0;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    color: white ;
    font-size: 1.1em;

}


.panier .total_panier{
    background-color: #8DC63F;
    height:30px;
    width: 60px;
    text-align: center;
    padding-top:7px;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    color:white;
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 30px;
    display: inline-block;
}
.panier button{
    border:0;
    -webkit-appearance: none;
    position: absolute;
    bottom: 2px;
    right:0;
    height: 50px;
    background-color: #8DC63F;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color:white;
    cursor: pointer;

}
.totalSpan{
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color:white;
}
.panier ul li div.information_produit .trash_icon{
    background-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 47px;
    width: 47px;
    padding: 2px;
    padding-top: 5px;
    position: absolute;
    bottom: -5px;
    right:0px;
    border-radius: 100%;
}
.panier ul li div.information_produit .trash_icon i{
    padding-left: 1px;
    color:white;
}


/* Navigateur Chrome pour l'inscription*/
.field-wrap #birth{
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    margin-bottom: 10px;
}

.g-recaptcha{
    margin-bottom: 20px;
}

/* Modération du forum */

/* Produits */

.properties_details > div:last-child {
  display: none;
}

/* Présentation du concept */

article{
    background: rgba(28, 54, 85, 0.9);
    width:100%;
    color:white;
    text-align: justify;
    margin:auto;
    padding: 7%;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.55);
}

article #signature{
    text-align: right;
    font-weight: bold;
    font-size: 26px;
     font-family: "lato-bold", Helvetica, Arial, sans-serif;

}

/* Dernier produit */

.dernierProduit{
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width:100%;
    height:auto;
    padding:3px;
    margin-top: 20px;
}

/* ban supprimer user admin */

.button_admin{
    height:50px;
    width:100px;
    background-color: red;
    -webkit-appearance: none;
    border:none;
    float:right;
    position: relative;
    display: block;
    margin:5px;
    background: #8DC63F;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color:white;

}
.button_admin:hover{
    background: #179b77;
}

.bandeleteuser{
    position: relative;
    height:115px;
    width:270px;
    background: rgba(28, 54, 85, 0.95);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 20px auto;
    border-radius: 4px;
    padding: 40px;
    display: inline-block;
}

.bandeleteuser(6n+0){
    margin-right: 0;
}
.delete_admin{
   position: absolute;
   top:0;
   right:0;
}
.ban_admin{
    position: absolute;
   bottom:0;
   right:0;
}




/******* Nouveau panier **********/
.formulairePanier form input{
  font-size: 11px;
  display: block;
  width: 30%;
  height:24px;
  padding: 5px 10px;
  margin-bottom: 2px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  font-weight: 1100;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  position: relative;


  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}

.formulairePanier .buttonPanier{
    position: absolute;
    bottom:-50px;
    height:30px;
    background: rgba(28, 54, 85, 0.95);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.formulairePanier{
    margin-top:15px;
} 
.formulairePanier label{
    color:black;
}
.quantityPanier{
    height:40px;
    display: inline-block;
}
.poidsPanier{
    height:40px;
    display: inline-block;
}

.bandeleteuser .buttonProduit{
    height:50px;
    width:100px;
    -webkit-appearance: none;
    border:none;
    float:right;
    position: absolute;
    display: block;
    margin:5px;
    background: #8DC63F;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color:white;
    bottom:0;
    right:0;
}

.buttonPlus{
    border: 2px solid white;
    background-color: #8DC63F;
    color:white;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    margin:auto;
    height:50px;
    width:150px;
    border-radius: 30px;
    padding:15px;
    padding-left: 17px;
}

.buttonPlus:hover{
    background: #179b77;
}

.navForum{
    text-align: center;
}

.navForum ul li{
    display: inline-block;
    margin:10px;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    color:white;
    font-style: none;
    background: rgba(28, 54, 85, 0.95);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    height:60px;
    width:300px;
    padding:15px;
    text-align: center;
    border-radius: 40px;

}